<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
	<section>
		<div class="container p-5 mt-3">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card card-sh">
						<div class="card-header text-center ">
							<p class="fs-4">Add Product</p>

							<th:block th:if="${session.succMsg}">
								<p class="text-success fw-bold">[[${session.succMsg}]]</p>
								<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

							<th:block th:if="${session.errorMsg}">
								<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
								<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

						</div>
						<div class="card-body">
							<form action="/admin/saveProduct" method="post" enctype="multipart/form-data">
								<div class="mb-3">
									<label>Tên Sản Phẩm</label> <input type="text" name="title" class="form-control">
								</div>

								<div class="mb-3">
									<label>Mô tả sản phẩm</label>
									<textarea rows="3" cols="" class="form-control" name="description"></textarea>
								</div>

								<div class="mb-3">
									<label>Danh mục</label> <select class="form-control" name="category">
										<option>--select--</option>
										<option th:each="c:${categories}">[[${c.name}]]</option>
									</select>
								</div>

								<div class="mb-3">
									<label>Giá</label> <input type="text" name="price" class="form-control">
								</div>

								<div class="mb-3 col">
									<label>Hình ảnh</label> <input type="file" name="file" class="form-control">
								</div>


								<div class="mb-3">
									<label>Thông số kỹ thuật</label>
									
									<table class="table table-borderless ">
										
										<tr>
											<caption class="caption-top"><b>Bộ xử lý đồ họa</b></caption>
											<td>Loại card đồ họa</td>
											<td>AMD Radeon™ Graphics</td>
										</tr>
										<tr>
											<td>Loại CPU</td>
											<td><input type="text" class="input-group-text"></td>
										</tr>

									</table>

								</div>


								<button class="btn btn-primary col-md-12">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>

</html>