<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
	<section>
		<div class="container p-5 mt-3">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card card-sh">
						<div class="card-header text-center ">
							<p class="fs-4">Tài khoản</p>
						</div>
						<div class="card-body">
                            <div class="card-user">
                                <div class="row">
                                    <div class="col-md-6">trongtruong28022002@gmail.com</div>
                                    <div class="col-md-2">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </div>
                                    <div class="col-md-2">
                                        <i class="fa-solid fa-trash"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="card-user">
                                <div class="row">
                                    <div class="col-md-6">trongtruong2802200220002000202020@gmail.com</div>
                                    <div class="col-md-2">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </div>
                                    <div class="col-md-2">
                                        <i class="fa-solid fa-trash"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-user">
                                <div class="row">
                                    <div class="col-md-6">trongtruong2802200220002000202020@gmail.com</div>
                                    <div class="col-md-2">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </div>
                                    <div class="col-md-2">
                                        <i class="fa-solid fa-trash"></i>
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>

</html>