*{
    box-sizing: inherit ;
}
.container {
    margin-bottom: 80px;
}

.bg-color {
    background-color: none;
}

.bg-image {
    background-image: url(/images/back-2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

}

.col-md-5 {
    color: white;

}

.button-color {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 10px 10px;
}

.see-all-margin {
    text-align: right;
    color: orange;
}

.margin-down {
    margin-bottom: 40px;
}

.alignment-cat {
    text-align: center;
}

.line-up {
    height: 10px;
    width: 150px;
    border-radius: 6px;
    background-image: linear-gradient(45deg, rgb(251, 255, 22), rgb(255, 102, 0));
    margin: 0 auto;
}

.box {
    box-shadow: 5px 5px 15px grey;
    padding: 45px 60px;
    border-radius: 0px 10px 0px 30px;
    margin-right: 20px;
    margin-top: 60px;
}

.login {
    text-align: center;
}

.m-3 {
    margin: .75rem !important;
}

.input-box {
    border-radius: 0;
    height: 50px;
    position: relative;
    width: 100%
}

.input-box .input-main {
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid rgba(145, 158, 171, .2);
    border-radius: 0;
    box-sizing: border-box;
    font-size: 16px;
    height: 100%;
    line-height: 24px;
    padding: 18px 20px 2px 0;
    width: 100%;
    outline: none;
    transition: border-bottom 1s ease ;
}
label{
    cursor: default;
}
.input-box label{
    color: #919eab;
    font-size: 15px;
    left: 0;
    line-height: 24px;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 18px;
    transition: top .25s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    
}

.input-box_err{
    color: red;
    font-size: 12px;
    margin-top: 3px;
    float: left;
}
.input-box .input-box_line{
    background-color: #d30015;
    bottom: 0px;
    height: 1px;
    left: 0;
    position: absolute;
    transition: 0.3s ease;
    width: 100%;
}

.input-reset{
    text-align: right;
}

.input-reset a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.input-reset a:hover{
    text-decoration: none;
    color: #d30015;
}

.btn-submit{
    background: #e0052b;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin: 20px auto 0;
    padding: 11px 0;
    text-align: center;
    width: 100%;
}

.question{
    display: flex !important;
}
.is-justify-content-center {
    justify-content: center !important;
}

.sign a{
    text-decoration: none;
    font-size: 16px;
    color: red;
    margin-left: 3px;
}
.sign a:hover{
    text-decoration: none;
    color: red;
}

.icon-back a {
   text-decoration: none;
   color: black;
}

.signin{
    height:auto;
    width: 100%;
    text-align: center;
}
.signin form{
    height: auto;
}
.icon-back a:hover{
    color: #919eab;
}

.signinmain{
    height: auto;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f7f8f9;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.auth-container {
    max-width: 750px;
    max-height: 600px;
    margin: 0 auto;
    background: #fff;
    border-radius: 15px;
    box-shadow: 1px 2px 8px 8px #ccc3;
    display: flex;
    margin-top: 4rem;
    overflow: hidden;
}

.auth-image img {
    height: 100%;
    width: auto;
}
.auth-image {
    overflow: hidden;
}
.auth-action-right {
    width: 320px;
}
.auth-action-left {
    flex: 2;
}

.auth-form-outer {
    padding: 2rem 4rem;
    display: block;
}

h2.auth-form-title {
    text-align: center;
    color: #fd5353;
    font-size: 1.7rem;
}

.auth-form-outer input {
    border: 1px solid #56aef485;
    margin-bottom: 1rem;
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    box-sizing: border-box;
    background: #f7f8f97a;
}

.auth-form-outer input:hover,
.auth-form-outer input:focus {
    outline: none;
    box-shadow: none;
}

.auth-form-outer input:focus {
    background-color: #fff;
    border: 1px solid #fd5353;
}


input.auth-form-input::placeholder {
    color: #0f82dd4d;
}



  input[type="checkbox"] {
    display: none;
}
  label input[type="checkbox"] ~ i.fa.fa-square-o{
      color: #fd5353;    display: inline;
  }
  label input[type="checkbox"] ~ i.fa.fa-check-square-o{
      display: none;
  }
  label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
      display: none;
  }
  label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
      color: #fd5353;    display: inline;
  }
  label:hover input[type="checkbox"] ~ i.fa {
  color: #fd5353;
  }
  
  div[data-toggle="buttons"] label.active{
      color: #fd5353;
  }
  
.auth-wrapper a {
    text-decoration: none;
    color: #fd5353;
}

a.auth-btn-direct {
    flex: 1;
    border: 1px solid #fd5353;
    text-align: center;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    font-weight: 500;
    margin-left: 5px;
}

input.auth-submit {
    background: #fe5454;
    border: none;
    width: auto;
    color: #fff;
    font-weight: 500;
    border-radius: 5px!important;
    flex: 1;
    margin-right: 5px;
    cursor: pointer;
}

input.auth-submit:focus {
    background: #fe5454;
    color: #fff;
}

input.auth-submit:hover {
    box-shadow: 3px 3px 7px 2px #f443362b;
}
a.auth-btn-direct:hover {
    box-shadow: -2px 3px 0px 0px #F44336;
}

.auth-external-list ul li a:hover {
    color: #fd5353;
    border-color: #fd5353;
}

.footer-action {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    box-sizing: border-box;
    overflow: hidden;
}

.auth-external-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.auth-external-list ul li {
    float: left;
}

.auth-external-list {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.auth-external-list ul li a {
    width: 26px;
    height: 26px;
    margin: 7px;
    display: block;
    text-align: center;
    line-height: 27px;
    border-radius: 50%;
    border: 1px solid #00000078;
    color: #555;
}

p.auth-sgt {
    text-align: center;
}

.auth-forgot-password a {
    text-align: center;
    display: block;
    border-top: 1px dashed #f4433633;
    padding: 20px;
    margin-top: 20px;
}


.input-icon {
    position: relative;
 }

.input-icon input {
   padding-right: 4rem;
}

.input-icon i {
    position: absolute;
    top: 38%;
    right: 1.2rem;
    transform: translateY(-50%);
    color: #2196f3b5;
    cursor: pointer;
}

/* responsive */
@media screen and (max-width: 720px) {
    body {
        background-color: #fff;
    }
    .auth-container {
        max-width: 100%;
        max-height: 100vh;
        margin: 0 auto;
        background: #fff;
        border-radius: 0;
        box-shadow: none;
        display: block;
        margin-top: 0;
    }
    .auth-action-left {
        width: 100%;
    }

    .auth-action-right {
        display: none;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.navbar-brand img {
    height: 50px;
}

.navbar-nav .nav-link {
    color: #333;
    font-weight: bold;
    transition: 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.view_product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
}

.view_product_img {
    flex: 1;
    text-align: center;
    position: relative;
}

.view_product_img img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.view_product_gallery {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    max-width: 100%;
    gap: 10px;
}

.view_product_gallery img {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
}

.view_product_gallery img:hover {
    transform: scale(1.1);
    border: 2px solid #007bff;
}

.view_product_inf {
    flex: 1;
    padding-left: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.view_product_title {
    position:sticky;
    top: 0;
    background: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    z-index: 1000;
}


.view_product_description {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    
}

.product-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
}

.product-detail-hl{
    flex: 1;
    text-align: center;
    position: relative;
    text-align: left;
}
.product-detail-sp{
    flex: 1;
    padding-left: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.search{
    width: 50%;
    display: flex;
}
.search input{
width: 40%;
}

.card{
    height: 700px;
}

.cart_product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    width: 700px;
    height: auto;
}
.cart_head{
    display: flex;
}

.cart_head p {
    margin-left: 40%;
}

.cart_product .row{
    width: 100%;
}

.cart_product img{
    
}
.cart_product .row .col-7 .row{
    width: 100%;
    height: 50%;
}

.cart_product .row .col-2{
    text-align: right;
}

footer {
    color: orchid;
    text-align: center;
}