<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="headfoot::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hot Gadgets</title>
    <link rel="icon" type="image/png" href="images/fav-icon.png">
    <link rel="stylesheet" href="/css/style.css">
  
</head>

<body>

    <section>
        <div class="container bg-image">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">

                        <div class="row align-items-center">
                            <div class="col-md-5">
                                <h1>Macbook Pro</h1>
                                <p>Latest version 2020 of Macbook pro with high definition of resolution, speed, system
                                    and
                                    security.</p>
                                <button class="button-color">Buy Now →</button>
                            </div>
                            <div class="col-md-7">
                                <img src="images/banner-products/image1.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row align-items-center">
                            <div class="col-md-5">
                                <h1>Speaker</h1>
                                <p>High quality Loud speaker with home theatre, bass and handsfree options.</p>
                                <button class="button-color">Buy Now →</button>
                            </div>
                            <div class="col-md-7">
                                <img src="images/banner-products/image2.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">

                        <div class="row align-items-center">
                            <div class="col-md-5">
                                <h1>Bluetooth Speaker</h1>
                                <p>High quality Bluetooth speaker with extra bass and handsfree options.</p>
                                <button class="button-color">Buy Now →</button>
                            </div>
                            <div class="col-md-7">
                                <img src="images/banner-products/image3.png" class="d-block w-100" alt="...">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <!-- danh mục -->
            <div class="row align-items-center margin-down">
                <div class="col-md-6">
                    <h3>Điện thoại</h3>
                </div>
                <div class="col-md-6 see-all-margin">
                    <a href="product_laptop" class="related-tag "><b>Xem tất cả</b></a>

                    <a href="product_laptop" class="related-tag mr-3"><b>Iphone</b></a>

                    <a href="product_laptop" class="related-tag mr-3"><b>Xiaomi</b></a>
                    <a href="product_laptop" class="related-tag mr-3"><b>SamSung</b></a>
                </div>

            </div>
            <!-- sản phẩm-->
            <div class="container first">

                <!-- đổ sản phẩm -->

                <div class="product">
                    <div class="index_product">
                        <a href="view_product">
                            <div class="card-deck">
                                <div class="card" th:each="product : ${products}">
                                    <img th:src="@{'/images/phone/'+${product.image}}" class="card-img-top"
                                        alt="Product Image">
                                    <div class="card-body">
                                        <div class="title">
                                            <h5 class="card-title" th:text="${product.name}"></h5>
                                        </div>
                                        <div class="introduce">
                                            <p class="card-text" th:text="${product.introduce}"></p>
                                        </div>
                                        <div class="price">
                                            <h6 th:text="|$${product.price}|"></h6>
                                        </div>

                                        <button class="button-color">Buy Now →</button>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>


                <!--danh mục -->
                <div class="row align-items-center margin-down">
                    <div class="col-md-6">
                        <h3>Laptop</h3>
                    </div>
                    <div class="col-md-6 see-all-margin">
                        <h5>See All</h5>
                    </div>
                </div>

                <div class="container second">
                    <div class="card-deck">
                        <div class="card">
                            <img src="images/laptop/product-1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Asus VivaBook</h5>
                                <p class="card-text">Choose the top brands Laptop with latest version, new model,
                                    attractive
                                    design, various options, battery durability and 2 years service warantee.</p>
                                <h6>$999</h6>
                                <button class="button-color">Buy Now →</button>
                            </div>
                        </div>
                        <div class="card">
                            <img src="images/laptop/product-2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Toshiba Razer</h5>
                                <p class="card-text">Choose the top brands Laptop with latest version, new model,
                                    attractive
                                    design, various options, battery durability and 2 years service warantee.</p>

                                <h6>$999</h6>
                                <button class="button-color">Buy Now →</button>
                            </div>
                        </div>
                        <div class="card">
                            <img src="images/laptop/product-3.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Xiaomi Mi Notebook Pro</h5>
                                <p class="card-text">Choose the top brands Laptop with latest version, new model,
                                    attractive
                                    design, various options, battery durability and 2 years service warantee.</p>

                                <h6>$999</h6>
                                <button class="button-color">Buy Now →</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="container">

                <h1 class="alignment-cat">Categories</h1>
                <div class="line-up"></div>
                <div class="row align-items-center">
                    <div class="col-md-6 row align-items-center">
                        <div class="col-md-6">

                            <div class="box bag">
                                <img src="images/Categories/bag.png" alt="">
                                <h3>Bag</h3>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="box beauty">
                                <img src="images/Categories/perfume.png" alt="">
                                <h3>Beauty</h3>
                            </div>

                            <div class="box shoes">
                                <img src="images/Categories/shoe.png" alt="">
                                <h3>Shoes</h3>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div>
                            <img src="images/Categories/pale-order.png" alt="">

                        </div>

                    </div>
                </div>

            </div>

    </section>
</body>

</html>